html {
  color: hsl(142 13% 9%);
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
}

img {
  border-radius: 100px;
  height: 200px;
  margin: 50px;
  object-fit: cover;
  object-position: top;
  width: 200px;
}

table, td, tr {
  margin: 2px;
  padding-right: 30px;
}

td {
  margin-bottom: 10px;
  padding: .5rem;
  vertical-align: top;
  width: 350px;
}

p {
  line-height: 1.3em;
  margin: 5px;
  padding-left: 0;
  text-align: center;
}

tbody {
  display: block;
  height: fit-content;
  width: 600px;
}

.navbar {
  background-color: hsl(142 13% 71%);
  height: 60px;
  opacity: 0.8;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar li {
  display: inline;
}

.navbar a {
  background-color: hsl(142 13% 71%);
  border-radius: 0;
  float: left;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
}

.navbar a:visited {
  background-color: hsl(142 13% 71%);
}

.wrapper {
  display: grid;
  grid-auto-columns: min-content max-content;
  grid-gap: 8vw;
  margin-top: 60px;
  position: relative;
}

a {
  background-color: hsl(142 13% 90%);
  border: 1px;
  border-radius: 5px;
  color: hsl(142 33% 9%);
  display: inline-block;
  margin-top: 3px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
}

a:visited {
  background-color: hsl(142 13% 60%);
}

a:hover {
  background-color: hsl(142 13% 65%);
  color: hsl(142 33% 99%);
  transform: scale(1.1);
}

a:active {
  background-color: hsl(142 13% 55%);
  color: hsl(142 33% 99%);
}

a.contact {
  width: auto;
}

.styled-headline h2 {
  background-color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  padding-right: 1rem;
  margin-top: 1rem;
  width: auto;
}

.styled-headline {
  position: relative;
}

.styled-headline::before {
  background-color: hsl(142 13% 71%);
  content: "";
  display: block;
  height: 3px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  width: 90%;
  z-index: -1;
}

.image {
  grid-column: 1;
  margin: 50px;
}

.contact-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 300px;
}

.contact {
  background-color: hsl(142 13% 94%);
  grid-column: 1/3;
  grid-row: 1;
  height: 100%;
  width: 300px;
}

.surname {
  color: hsl(142 13% 35%);
}

.wrapper2 {
  display: grid;
  grid-column: 3;
  position: relative;
}

.datawrapper {
  width: 100%;
}

.data {
  grid-column: 3;
  grid-row: 3;
  height: fit-content;
  width: fit-content;
}

.intro {
  padding-top: 2rem;
  grid-column: 2;
  grid-row: 1;
}

.bildung {
  grid-column: 2;
  grid-row: 2;
}

.berufserfahrung {
  grid-column: 2;
  grid-row: 3;
}

.freelance {
  grid-column: 2;
  grid-row: 4;
}

.sprachen tr {
  height: 20px;
}

.hobbies {
  align-content: center;
  color: hsl(142 13% 50%);
  grid-column: 2;
  grid-row: 5;
  margin: 20px;
  padding: 20px 50px 20px 20px;
  text-transform: uppercase;
}

.dates {
  color: hsl(142 13% 35%);
  display: block;
  grid-column: 2;
  grid-row: 3;
  height: fit-content;
  width: 200px;
}

.sub-info {
  color: hsl(142 13% 35%);
}

@media print {
  .navbar {
    display: none;
  }

  .wrapper {
    margin-top: 0;
  }

  .datawrapper {
    break-inside: avoid;
  }

  .datawrapper a {
    display: none;
  }

  .freelance {
    padding-top: 3rem;
  }

  .berufserfahrung {
    padding-bottom: 2rem;
  }

  .hobbies {
    margin-bottom: 25vh;
  }
}

@page {
  size: A4;
  margin: 0;
}
